body {
    background-color: #3e3e42;
    color: white;

    header {
        text-align: center;
        font-size: 34pt;
        font-weight: bold;
        margin-top: 40px;
    }

    main {
        .charts{
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .piechart, .barchart {
                text-align: center;
                width: 50%;
            }
        }
    }
}

